@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    background-color: var(--cor-primaria);
    overflow-x: hidden;
    align-self: center;
}

body {
    --cor-primaria: white;
    --cor-secundaria: #F7F7F7;
    --cor-terciaria: #EAEAEA;
    --cor-borda: #DBDBDB;
    --cor-texto: black;
    --cor-subtexto: #878787;
    --scroll-animation: none;
    --shadow: #606060;
    --brilho-filtro: brightness(200%);
}

body.dark {
    --cor-primaria: #17171f;
    --cor-secundaria: #13131a;
    --cor-terciaria: #101014;
    --cor-borda: #515151;
    --cor-texto: #e5e1e1;
    --cor-subtexto: #515151;
    --shadow: none;
    --scroll-animation: invert(91%) drop-shadow(0px 0px 3px var(--cor-primaria));
    --brilho-filtro: brightness(80%);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    resize: none;
}

/*---------- Animação ----------*/

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: opacity 1s, filter 1s, transform 1s;
}

.hiddenLinguagens {
    transform: translateY(-100%);
    transition: transform 1.7s;
}

.hiddenLeft {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: opacity 700ms, filter 700ms, transform 700ms;
}

.hiddenRight {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: opacity 700ms, filter 700ms, transform 700ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}


/*---------- Alerta ----------*/

.alerta {
    position: sticky;
    bottom: 10px;
    left: 86%;
    width: 13vw;
    display: grid;
    place-items: center;
    height: 7vh;
    height: 7svh;
    z-index: 10;
    border: 1px solid var(--cor-borda);
    border-radius: 15px;
    background-color: var(--cor-secundaria);
    opacity: 0;
    filter: blur(1px);
    transform: translateY(200%);
}

.alertaBox {
    color: var(--cor-texto);
}

.alertaShow {
    animation: alertaShowAnimation 6s ease-in-out;
}

@keyframes alertaShowAnimation {
    0%, 100% {
        opacity: 0;
        filter: blur(1px);
        transform: translateY(200%);
    }
    15%, 85% {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}



/*---------- Cabecalho ----------*/

header {
    position: sticky;
    top: 0;
    background-color: var(--cor-primaria);
    z-index: 5;
    min-height: 5em;
    display: flex;
    justify-content: center;
}

header > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-primaria);
    z-index: 5;
    width: clamp(20em, 90vw, 60em);
}


.imgLogo {
    width: clamp(2.5em, 10vw,4.5em);
}


.ulNavBar {
    list-style-type: none;
    display: flex;
    gap: clamp(0.25em, 1vw, 1.25em);
    padding: 0.5em 0.75em;
    border: 1px solid var(--cor-borda);
    border-radius: 1.125em;
}

.ulNavBar > li {
    color: var(--cor-texto);
    font-size: clamp(0.25rem, 0.5rem + 1vw, 0.875rem);
    padding: 0.375em 0.625em;
    border-radius: 0.625em;
    transition: transform .5s ease-in-out, background-color .5s ease-in-out;
}

.ulNavBar > li:hover {
    transform: scale(1.1);
    background-color: var(--cor-terciaria);
    cursor: pointer;
}


.btn-switch-theme {
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dkTheme, .lgTheme {
    width: clamp(1em, 1em + 1.5vw, 2.25em);
    transition: opacity 0.3s, visibility 0.3s;
}

.dkTheme {
    position: relative;
    visibility: hidden;
    opacity: 0;
}

.lgTheme {
    position: absolute;
    visibility: visible;
    opacity: 1;
}

@keyframes clicaMenu {
    0%, 100% {
        transform: scale(1.1);
        background-color: var(--cor-terciaria);
    }
    50% {
        transform: scale(1);
        background-color: none;
    }
}


/*---------- Home ----------*/

.home {
    height: 88.9vh;
    height: 88.9svh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-conteudo {
    width: clamp(20em, 90vw, 55em);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
}

.texto-home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.txt-home-fix {
    font-size: 1.25rem;
    color: var(--cor-subtexto);
    margin: 0.5em 0em;
}

.txt-home-nome {
    color: var(--cor-texto);
    font-size: 1.625rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
}

.txt-home-nome::after {
    content: '|';
    opacity: 1;
    animation: blinkCursor 1s infinite;
}

@keyframes blinkCursor {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}



.txt-home-link {
    display: flex;
    margin-left: -0.4em;
}

.txt-home-link > a > p {
    color: var(--cor-texto);
}

.link-home {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 3.7em;
    cursor: pointer;
    color: black;
    transition: width .4s linear, filter .3s linear;
    filter: var(--brilho-filtro) grayscale(100%);
}
.link-home:hover {
    width: 140px;
    filter: none;
}


.txt-home-inst {
    filter: invert(25%);
}
.txt-home-git {
    filter: invert(32%);
}


.img-home > img {
    width: clamp(6em, 20vw, 10em)
}



.scroll-animation {
    margin-bottom: 1.5em;
    display: flex;
    gap: 0.5em;
}

.scroll-animation > p {
    color: var(--cor-texto);
}

.scroll-animation > img {
    height: 1em;
    margin-top: 0.25em;
    filter: var(--scroll-animation);
}



/*---------- Sobre mim ----------*/

.sobre {
    margin-top: 18vh;
    margin-top: 18svh;
    margin-bottom: 11vh;
    margin-bottom: 11svh;
    height: 60vh;
    width: clamp(10em, 90vw, 60em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre > h1 {
    align-self: flex-start;
    color: var(--cor-texto);
    padding-bottom: 7vh;
}

.sobre-conteudo {
    display: flex;
    align-items: center;
    gap: clamp(1em, 5vw, 4em);
    padding: clamp(0.5rem, 5vw, 2rem) clamp(1rem, 5vw, 2rem);
    border: 1px solid var(--cor-borda);
    border-radius: 20px;
    background-color: var(--cor-secundaria);
}

.sobre-conteudo > img {
    width: clamp(6em, 30vw, 15em);
    border-radius: 10px;
}

.sobre-txt {
    height: clamp(6em, 37vw, 15em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sobre-txt > p {
    font-size: clamp(0.75rem, 0.1rem + 2vw, 1rem);
    color: var(--cor-texto);
    line-height: clamp(1.1em, 3vw, 1.8em);
}



.sobre-btn {
    display: flex;
    flex-direction: row;
    gap: 1.25em;
}

.sobre-btn > p, .sobre-btn > a > p {
    color: var(--cor-texto);
    font-size: clamp(0.5rem, 0.05rem + 2vw, 1rem);
}

.sobre-btn > p, .sobre-btn > a {
    display: flex;
    align-items: center;
    gap: 0.75em;
    padding: 0.25em;
    border: 1px solid var(--cor-borda);
    border-radius: 10px;
    cursor: pointer;
    transition: scale .2s linear;
}

.sobre-btn-email {
    min-width: 5rem;
}

.sobre-btn > p:hover, .sobre-btn > a:hover {
    scale: 1.05;
}

.sobre-btn > a {
    text-decoration: none;
    color: black;
}

.sobre-btn > p > img, .sobre-btn > a > img {
    width: clamp(0.5em, 3vw, 1.625em);
}

.sobre-linguagens {
    position: relative;
    width: clamp(15em, 80vw, 50em);
    border: 1px solid var(--cor-borda);
    border-style: none solid solid solid;
    border-radius: 20px / 0px 0px 20px 20px;
    background-color: var(--cor-secundaria);
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 4vw;
    white-space: nowrap;
    flex-wrap: wrap;
}

.sobre-linguagens > a {
    position: relative;
    color: var(--cor-texto);
}

.sobre-linguagens > a > img {
    height: clamp(1em, 8vw, 3em);
    
}


.nomeLinguagem {
    position: absolute;
    bottom: -1.6em;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    padding: 0.25em;
    border: 1px solid var(--cor-borda);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--cor-secundaria);
    z-index: -2;
    
    opacity: 0;
    filter: blur(5px);
    transition: opacity 700ms, filter 700ms, transform 700ms;
}

.mostraNome {
    opacity: 1;
    filter: blur(0);
    transform: translateX(-50%) translateY(0);
}



/*---------- Projetos ----------*/

.projetos {
    width: clamp(10em, 90vw, 60em);
    margin-top: 10vh;
    margin-top: 10svh;
    padding-top: 1vh;
    padding-top: 1svh;
}

.proj-titulo {
    color: var(--cor-texto);
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 10vh;
    margin-bottom: 10svh;
}

.proj-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10vh;
    gap: 10svh;
    height: 150vh;
    height: 150svh;
}



.proj-nome {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: clamp(10em, 90vw, 60em);
}



.proj-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    position: absolute;
    left: 0;
    z-index: 1;
}
.proj-txt-titulo {
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}
.proj-txt-titulo > img {
    height: 25px;
    cursor: pointer;
}



.proj-txt-lang, .proj-txt-lang > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.proj-txt-lang > p {
    color: var(--cor-texto);
    font-size: clamp(0.75rem, 0.05rem + 1.25vw, 1rem);
    gap: 5px;
    padding: 4px clamp(0.5rem, 0.05rem + 1.25vw, 1rem);
    transition: scale .2s linear;
    cursor: default;
    border-radius: 15px;
    border: 1px solid var(--cor-borda);
    background-color: var(--cor-secundaria);
}
.proj-txt-lang > p:hover {
    scale: 1.05;
}
.proj-txt-lang > p > img {
    width: clamp(1rem, 3vw, 2rem);
}



.proj-resumo {
    width: clamp(10em, 47vw, 32em);
    color: var(--cor-texto);
    padding: 15px clamp(1em, 4vw, 2.5em);
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    box-shadow: 5px 5px 20px -7px var(--shadow);
    font-size: clamp(0.9rem, 0.1rem + 2vw, 1rem);
}



.proj-img {
    width: clamp(10em, 47vw, 32em);
    height: clamp(10em, 6em + 25vw, 20em);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cor-borda);
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}
.proj-img-box {
    transition: scale .2s linear;
}
.proj-img-box:hover {
    scale: 1.1;
}

.lkt-proj-img {
    width: clamp(10em, 40vw, 23em);
}


.calculadora {
    flex-direction: row-reverse;
}
.calc-txt {
    left: auto;
    padding-left: 0;
    align-items: flex-end;
    right: 0;
    z-index: 2;
}
.calc-resumo {
    text-align: right;
    box-shadow: -5px 5px 20px -7px var(--shadow);
}
.calc-proj {
    padding: 10px 0px;
}
.calc-proj-img {
    width: clamp(10em, 25vw, 15em);
}


.port-proj {
    padding: 30px;
}
.port-proj-img {
    width: clamp(10em, 40vw, 23em);
    border-radius: 7px;
}



/*---------- Contato ----------*/

.contato {
    height: 80vh;
    height: 80svh;
    margin-top: 19vh;
    margin-top: 19svh;
    width: clamp(10em, 90vw, 60em);
    margin-bottom: -11vh;
    margin-bottom: -11svh;
}

.cont-titulo {
    color: var(--cor-texto);
    font-size: 40px;
    margin-bottom: 10vh;
    margin-bottom: 10svh;
}

.contato > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cont-formulario {
    height: 50svh;
    width: clamp(10em, 12em + 25vw, 60em);
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-borda);
    padding: 20px;
    border-radius: 10px;
    box-shadow: -5px 5px 20px -9px var(--shadow);
}

.cont-formulario > label {
    color: var(--cor-texto);
}

.cont-formulario > label > input, .cont-formulario > label > textarea {
    font-size: 13px;
    color: var(--cor-texto);
    width: 100%;
    border: 1px solid var(--cor-borda);
    height: 25px;
    border-radius: 5px;
    margin-top: 3px;
    padding-left: 3px;
    background-color: var(--cor-primaria);
}

.cont-formulario > label > textarea {
    height: 15vh;
    height: 15svh;
    padding-top: 3px;
}


.cont-btn {
    height: 5vh;
    height: 5svh;
    border: none;
    color: var(--cor-terciaria);;
    background-color: #155aaa;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .1s linear;
}

.cont-btn:hover {
    background-color: #284D79;
}

.perfil-form {
    height: 210px;
}

.cont-btn-enviando {
    cursor: default;
    background-color: #284D79;
}

/*---------- Rodape ----------*/

.rodape {
    display: grid;
    place-items: center;
    width: 100%;
    height: 1vh;
    height: 8svh;
    margin-top: 6vh;
    margin-top: 6svh;
    border-top: 1px solid var(--cor-borda);
}

.rodape > p {
    color: var(--cor-texto);
}

.rodape > p > a {
    text-decoration: none;
    color: var(--cor-texto);
}

.rodape > p > a:hover {
    color: #284D79;
}



@media screen and (max-width: 640px) {

    /*---------- Header ----------*/
    header > div {
        justify-content: space-around;
    }
    .ulNavBar > li {
        padding: 0.25em 0.5em;
        transition: none;
    }
    .ulNavBar > li:hover {
        transform: scale(1.1);
        background-color: white;
    }
    .ulNavBar > li:active {
        animation: clicaMenu 1s;
    }

    /*---------- Home ----------*/
    .txt-home-fix {
        width: 8em;
    }

    /*---------- Projetos ----------*/
    .proj-titulo {
        margin-bottom: 10vh;
        margin-bottom: 10svh;
    }
    .proj-conteudo {
        height: 145vh;
        height: 145svh;
        gap: 5vh;
        gap: 5svh;
        overflow-x: hidden;
    }
    .proj-nome {
        flex-direction: column;
    }
    .proj-resumo, .proj-img {
        width: clamp(10em, 90vw, 60em);
    }
    .proj-txt {
        height: clamp(10em, 6em + 40vw, 20em);
        justify-content: flex-start;
        gap: 1em;
    }
    .proj-txt-lang{
        margin-top: clamp(-20px, -20px + 1vw, 0px);
    }
    .proj-resumo {
        margin-top: clamp(5em, 35vw, 9.5em);
        margin-bottom: -2em;
    }
    .proj-img {
        width: clamp(10em, 90vw, 50em);
    }
    .proj-img-box {
        width: clamp(10em, 60vw, 40em);
    }
    .lkt-proj-img {
        width: clamp(10em, 55vw, 40em);
    }
    .calc-proj-img {
        width: clamp(7em, 30vw, 20em);
    }

    /*---------- Contato ----------*/
    .cont-formulario {
        width: clamp(10em, 90vw, 60em);
    }
    .contato > div > img {
        display: none;
    }
}