@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body > * {
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98.8vw;
    background-color: var(--cor-primaria);
}

body {
    --cor-primaria: white;
    --cor-secundaria: #F7F7F7;
    --cor-terciaria: #EAEAEA;
    --cor-borda: #DBDBDB;
    --cor-texto: black;
    --cor-subtexto: #878787;
    --scroll-animation: none;
    --shadow: #606060;
    --brilho-filtro: brightness(200%);
}

body.dark {
    --cor-primaria: #17171f;
    --cor-secundaria: #13131a;
    --cor-terciaria: #101014;
    --cor-borda: #515151;
    --cor-texto: #e5e1e1;
    --cor-subtexto: #515151;
    --shadow: none;
    --scroll-animation: invert(91%) drop-shadow(0px 0px 3px var(--cor-primaria));
    --brilho-filtro: brightness(80%);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*---------- Cabecalho ----------*/

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 98.8vw;
    height: 70px;
    background-color: var(--cor-primaria);
    z-index: 1;
    padding-inline: 14.4vw;
}



.imgLogo {
    height: 70px;
    margin-top: 3px;
    padding: 10px 10px 10px 0px;
}



.navBar {
    margin-left: -3vw;
}

.ulNavBar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 8px 10px;
    border: 1px solid var(--cor-borda);
    border-radius: 18px;
}

.ulNavBar > li {
    color: var(--cor-texto);
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 10px;
    transition: transform .5s ease-in-out, background-color .5s ease-in-out;
}

.ulNavBar > li:hover {
    transform: scale(1.1);
    background-color: var(--cor-terciaria);
    cursor: pointer;
}



.btn-switch-theme {
    margin-top: 5px;
    position: relative;
    top: 0;
    left: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dkTheme, .lgTheme {
    top: 0;
    left: 0;
    height: 26px;
    transition: opacity 0.3s, visibility 0.3s;
}

.dkTheme {
    position: relative;
    visibility: hidden;
    opacity: 0;
}

.lgTheme {
    position: absolute;
    visibility: visible;
    opacity: 1;
}


/*---------- Home ----------*/

.home {
    height: 100vh;
    width: 98.8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 30vh;
}

.home-conteudo {
    width: 70vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.texto-home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 270px;
}

.txt-home-fix {
    font-size: 20px;
    color: var(--cor-subtexto);
    margin: 10px 0px;
}

.txt-home-nome {
    color: var(--cor-texto);
    font-size: 25px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
}

.txt-home-nome::after {
    content: '|';
    opacity: 1;
    animation: blinkCursor 1s infinite;
}

@keyframes blinkCursor {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}



.txt-home-link {
    margin-left: -8px;
    display: flex;
    flex-direction: row;
}

.txt-home-link > a > p {
    color: var(--cor-texto);
}

.link-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    width: 60px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: width .5s linear, filter .3s linear;
    filter: var(--brilho-filtro) grayscale(100%);
}
.link-home:hover {
    width: 140px;
    filter: none;
}


.txt-home-inst {
    filter: invert(20%);
}
.txt-home-git {
    filter: invert(40%);
}


.img-home > img {
    height: 210px;
}



.scroll-animation {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.scroll-animation > p {
    color: var(--cor-texto);
}

.scroll-animation > img {
    height: 15px;
    margin-top: 3px;
    filter: var(--scroll-animation);
}



/*---------- Sobre mim ----------*/

.sobre {
    height: 70vh;
    display: flex;
    align-items: center;
}

.sobre-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70vw;
    gap: 50px;
    padding: 20px;
    border: 1px solid var(--cor-borda);
    border-radius: 20px;
    background-color: var(--cor-secundaria);
}

.sobre-conteudo > img {
    height: 250px;
    border-radius: 10px;
}

.sobre-txt {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sobre-txt > h1, .sobre-txt > p {
    color: var(--cor-texto);
}

.sobre-txt > h2 {
    font-weight: 400;
    color: var(--cor-subtexto);
}


.sobre-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sobre-btn > p, .sobre-btn > a > p {
    color: var(--cor-texto);
}

.sobre-btn > p, .sobre-btn > a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: 1px solid var(--cor-borda);
    border-radius: 10px;
    cursor: pointer;
    transition: scale .2s linear;
}

.sobre-btn > p:hover, .sobre-btn > a:hover {
    scale: 1.05;
}

.sobre-btn > a {
    text-decoration: none;
    color: black;
}

.sobre-btn > p > img, .sobre-btn > a > img {
    width: 25px;
}



/*---------- Projetos ----------*/

.proj-titulo {
    color: var(--cor-texto);
    font-size: 40px;
    margin-top: 100px;
}

.proj-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-top: 10vh;
    height: 120vh;
}



.proj-nome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 70vw;
}



.proj-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
    position: absolute;
    left: 0;
    padding-left: 14.4vw;
}
.proj-txt-titulo {
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}
.proj-txt-titulo > img {
    height: 25px;
    cursor: pointer;
}



.proj-txt-lang, .proj-txt-lang > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.proj-txt-lang > p {
    color: var(--cor-texto);
    font-size: 12px;
    gap: 5px;
    padding: 4px 15px;
    transition: scale .2s linear;
    cursor: default;
    border-radius: 15px;
    border: 1px solid var(--cor-borda);
}
.proj-txt-lang > p:hover {
    scale: 1.05;
}
.proj-txt-lang > p > img {
    height: 30px;
}



.proj-resumo {
    color: var(--cor-texto);
    width: 35vw;
    padding: 15px 40px;
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    box-shadow: 5px 5px 20px -7px var(--shadow);
}



.proj-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    border: 1px solid var(--cor-borda);
    background-color: var(--cor-secundaria);
    border-radius: 10px;
}
.proj-img-box {
    transition: scale .2s linear;
}
.proj-img-box:hover {
    scale: 1.1;
}




.lkt-proj {
    padding: 20px;
}
.lkt-proj-img {
    width: 28vw;
}


.calculadora {
    flex-direction: row-reverse;
}
.calc-txt {
    left: auto;
    padding-left: 0;

    align-items: flex-end;
    right: 0;
    padding-right: 14.4vw;
}
.calc-resumo {
    text-align: right;
    box-shadow: -5px 5px 20px -7px var(--shadow);
}
.calc-proj {
    padding: 10px 0px;
}
.calc-proj-img {
    width: 14vw;
}


.port-proj {
    padding: 30px;
}
.port-proj-img {
    width: 29vw;
    border-radius: 7px;
}


/*---------- Contato ----------*/

.contato {
    height: 90vh;
    width: 70vw;
    margin-top: 150px;
}

.contato > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cont-formulario {
    height: 50vh;
    margin-top: 7vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-borda);
    padding: 20px;
    border-radius: 10px;
    box-shadow: -5px 5px 20px -9px var(--shadow);
}

.cont-formulario > label {
    color: var(--cor-texto);
}

.cont-formulario > label > input, .cont-formulario > label > textarea {
    font-size: 13px;
    color: var(--cor-texto);
    width: 100%;
    border: 1px solid var(--cor-borda);
    height: 25px;
    border-radius: 5px;
    margin-top: 3px;
    padding-left: 3px;
    background-color: var(--cor-primaria);
}

.cont-formulario > label > textarea {
    height: 15vh;
    padding-top: 3px;
}


.cont-btn {
    height: 5vh;
    border: none;
    color: var(--cor-terciaria);;
    background-color: #155aaa;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .1s linear;
}

.cont-btn:hover {
    background-color: #284D79;
}

.perfil-form {
    height: 210px;
    margin-right: 6vw;
}



/*---------- Rodape ----------*/

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    border-top: 1px solid var(--cor-borda);
}

.rodape > p {
    color: var(--cor-texto);
}

.rodape > p > a {
    text-decoration: none;
    color: var(--cor-texto);
}

.rodape > p > a:hover {
    color: #284D79;
}


@media screen and (min-width: 1024px){
}